:root {
  --app-height: 100%;
}

html,
body {
  overscroll-behavior: none;
  height: var(--app-height);
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: -webkit-fill-available;
}

.header {
  border: 1px solid red;
}

.content {
  flex-grow: 1;
  overflow: auto;
  border: 1px solid green;
}

.message {
  margin: 10px 0;
}

.message span {
  background: rgb(180, 219, 180);
}

.input {
  border: 1px solid blue;
}