body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  border: 1px solid red;
}

.content {
  flex-grow: 1;
  border: 1px solid green;
}

.input {
  border: 1px solid blue;
}